<div layout="row" layout-wrap layout-fill layout-margin style="margin:0;">
  <!-- <div layout  flex-sm="0" flex-md="0" style="margin:0;">
      <acme-navbar/>   
  </div> -->
  <div layout="column" class="m0" layout-fill flex="82">
	 <!--  <div  layout-fill ng-if="path=='/main/dashboard' || path=='/dashboard'"  ng-include src="'scripts/app/dashboard/dashboard.html'"></div>
	  <div  layout-fill ng-if="path=='/main/worker' || path=='/worker'"  ng-include src="'scripts/app/worker/worker.html'"></div>
	  <div  layout-fill ng-if="path=='/main/client' || path=='/worker'"  ng-include src="'scripts/app/client/client.html'"></div> -->
	  
	  <div ui-view="viewPage"></div>
  </div>
</div>
