<div resize style="height:{{windowHeight-70+'px'}}" ng-init="">
		<div layout-margin layout-padding class="frt mrt mt">
			
		</div>
		<div layout-margin layout-padding flex-container="column">
		
		<div flex-item layout-margin layout-padding>
				<div><span class="fs-headline black-text display-block">Leave Management</span></div>
				<div flex-container="row">
   					<div class="fs-subhead black-text">
	   					 <div flex="50">Leave Availed : 5</div>
	   					 <div flex="50">Pending Leave : 15</div>
   					</div>
   				</div>
	 	 		<div  flex-container="row">
						 <div flex="50"  class="fs-subhead black-text">
						 <div flex-container="row">
	 	 					<md-input-container  flex="50">
	      						<label>From Date</label>
						 		<input type="text" pick-a-date="from" ng-model="lms.from" md-placeholder="Enter your date" required></md-datepicker>
	      					</md-input-container>
	      					<md-input-container  flex="50">
	      						<label>From Time</label>
						 		<input type="text" pick-a-time="time" ng-model="lms.fromTime" md-placeholder="Enter your time" required></md-datepicker>
	      					</md-input-container>
	 	 				</div>
	 	 				</div> 
						 <div flex="50" class="fs-subhead black-text">
						 	<div flex-container="row">
	 	 					<md-input-container  flex="50">
	      						<label>To Date</label>
						 		<input type="text" pick-a-date="to" ng-model="lms.to" md-placeholder="Enter your date" required></md-datepicker>
	      					</md-input-container>
	      					<md-input-container  flex="50">
	      						<label>To Time</label>
						 		<input type="text" pick-a-time="time" ng-model="lms.toTime" md-placeholder="Enter your time" required></md-datepicker>
	      					</md-input-container>
	 	 				</div>
						</div> 
	 	 		</div>
	 	 		<div flex-container="column">
   					<div  class="fs-subhead black-text">
	   					 <md-input-container >
	      					<label>Reason For Leave</label>
	      					<textarea ng-model="lms.reason" columns="1" md-maxlength="150" class="uc"></textarea>
	   					 </md-input-container>
   					</div>
   				</div>
   				
	 	</div>
	 	
	</div>
</div>