
<div layout="row" layout-sm="row" layout-fill layout-align="center center" layout-margin>
	<div flex-sm="80" flex-md="50" flex-lg="40" flex="25" flex-container="column" layout-fill >
    		<div class="fs-headline display-block white-text aligncenter m20 text-darken-3 titleHead" >School Days</div>
	  <form name="loginForm" ng-submit="emailValidation(userName)">
    	<div flex-item>
	        <div class="card cardBorder" layout-fill>
	        	  <md-toolbar class="white" layout="row">
                     <div class="p20 aligncenter">
                         <span class="fs-title display-block grey-text text-darken-2 fontW600 ">Reset Password</span>
                     </div>
                 </md-toolbar>
	        	<div class="p+">
		        	<div class="aligncenter"><span class="fs-body-1 display-block grey-text text-darken-2 fontW600">Enter your email address and we will send you a link to rest your password</span></div>
		            <div class="fs-body-1">
				        <div flex-container="column">
						    <div>
							      <div layout layout-sm="row">
							        <md-input-container flex=100">
							          <label>Email address</label>
							          <input type="email" ng-model="userName" required>
							         <!--  <div role="alert">
							      		<span class="error" translate="error.required"></span>
							    	  </div>-->
							        </md-input-container>
							     </div>
					       </div>
				     	</div>
		            </div>
		            <div>{{error}}</div>
	            </div>
	            <div class="card__actions" layout>
	                <div class="tc-white-1" flex-container="row" layout-align="center center" layout layout-fill>
	                	<div layout layout-sm="row"><md-button type="submit" class="md-raised schooldays darken-2 md-primary iconBg" md-theme-watch="true">Reset Passowrd</md-button></div>
					    <div flex="5" hide-sm></div>
					    <div layout layout-sm="row"><a href="#login" class="fs-subhead display-block"><md-button type="button" ng-class="'iconBg' : hovering" ng-mouseover="hovering=true" ng-mouseout="hovering=false"  class="md-flat md-primary light-blue-text text-darken-1 fontW600" md-theme-watch="true">Cancel</md-button></a></div>
					</div>
	            </div>
	        </div>
	         <div class="aligncenter" layout-fill><span ng-click="opendDialog('helpDesk');" class="grey-text text-darken-5">Having trouble ? Send us a message</span></div>
	      </div>
      </form>
    </div>
</div>   

