<div flex="100" layout="row" layout-fill layout-align="center center" layout-margin>
	<div flex="20" flex-sm="80" flex-container="column" layout-fill >
    	<div flex-item>
	        <div class="card cardBorder" layout-fill>
			    <md-toolbar class="white" layout="row">
                     <div class="p20 aligncenter">
                         <span class="fs-title display-block grey-text text-darken-2 fontW600">Reset Password</span>
                     </div>
                 </md-toolbar>
	        	<div class="p+">
	            <div class="fs-body-1" ng-init="inputType='password'">
			        <div flex-container="column" ng-init="showtext=true">
					    <div>
					      <div layout-margin layout layout-sm="row">
					      	<span class="fs-body-1 display-block grey-text text-darken-2 fontW600 aligncenter">Enter a new password below</span>
					     </div>
					     <div flex-container="row" layout layout-fill>
						     <div layout-margin layout-fill layout layout="row" layout-sm="row">
						     	<md-input-container>
						          <label translate="login.form.password"></label>
						           <input type="{{inputType}}" placeholder="password"  ng-model="pw" name="pw" id="pw"/>
						           
						          <!-- <div role="alert">
						      		<span class="error"  translate="error.required"></span>
						    	  </div> -->
						        </md-input-container>
						     </div>
						     <div layout layout-fill layout-align="center center" layout="row"><md-button ng-model="passwordCheckbox" class="md-flat grey-text text-darken-2" ng-click="hideShowPassword()">{{buttonLabel}}</md-button></div>
					     </div>
					      <ul id="strength" check-strength="pw"></ul>
					      <ng-md-icon icon="error" style="fill:#03a9f4 " size="24" ng-mouseover="showtext=false"></ng-md-icon>
					      
					      <div ng-hide="showtext" ng-mouseleave="showtext=true" style="border:1px solid #ddd">
						        <p>Tips for creating a strong password </p>
						        <ul style="list-style-type:disc">
						           <li id="seven">at least seven characters</li> 
						        	<li id="upper"> use upper-case letters</li>
						        	<li id="lower">use lower-case letters</li> 
						        	<li id="numbers"> use numbers</li>
						        	<li id="special">use special characters</li> 
					        	</ul>
					       </div>
					      <!-- <md-button style="min-height:0px;min-width:0px">
						      <ng-md-icon icon="error" style="fill:#03a9f4 " size="24"></ng-md-icon> 
						      <md-tooltip>
						      <div>
						        <p>Tips for creating a strong password </p>
						            atleast eight characters
						        	use upper-case letters
						        	use lower-case letters
						        	use nimbers
						        	use special characters
						       </div>
						      </md-tooltip>
						   </md-button> -->
						  <!--  <div class="input-help">
				                <h4>Password must meet the following requirements:</h4>
				               <ul>
				                   <li ng-class="pwdHasLetter">At least <strong>one letter</strong>
				                   </li>
				                   <li ng-class="pwdHasNumber">At least <strong>one number</strong>
				                   </li>
				                   <li ng-class="pwdValidLength">At least <strong>8 characters long</strong>
				                   </li>
				               </ul>
				           </div> -->
				       </div>
			     	</div>
	            </div>
	            </div>
	            <div class="card__actions" layout>
	                <div class="tc-white-1" flex-container="row" layout-align="center center" layout layout-fill>
					    <div layout layout-sm="row"><a href="#login"><md-button class="md-raised light-blue darken-2 md-primary" md-theme-watch="true">Return to Login</md-button></a></div>
					</div>
	            </div>
	        </div>
	         <div class="aligncenter" layout-fill><span ng-click="opendDialog('helpDesk');" class="grey-text text-darken-5">Having trouble ? Send us a message</span></div>
      </div>
    </div>
</div>   

