<md-content class="md-padding" >
        <div resize>
          <div flex-container="column" >
			<div flex-container="row">
				<div flex="40"> 
					<div class="fs-title" ng-show="display"> Joseph</div>
					<div class="fs-subhead"> Reason : Requesting Leave For Casual Leave</div>
					<div class="black-text">From 19-08-15 to 21-08-15 (2 Days)</div>
				</div>
				<div flex="30"></div>
				<div class="black-text" flex="30" ng-show="display"><md-switch ng-model="data.cb1"  ng-init="data.cb1=false" aria-label="Switch 1"><span ng-show=data.cb1 >Approved</span><span ng-hide=data.cb1>Decline</span></md-switch></div>
				<div class="black-text" flex="30" ng-hide="display">Approved</div>
			</div>
		</div>
		<md-divider ng-if="!$last"></md-divider>
		
		<div flex-container="column" >
			<div flex-container="row">
				<div flex="40"> 
					<div class="fs-title" ng-show="display"> Joseph</div>
					<div class="fs-subhead"> Reason : Requesting Leave For Casual Leave</div>
					<div class="black-text">From 19-08-15 to 21-08-15 (2 Days)</div>
				</div>
				<div flex="30"></div>
				<div class="black-text" flex="30" ng-show="display"><md-switch ng-model="data.cb1"  ng-init="data.cb1=false" aria-label="Switch 1"><span ng-show=data.cb1 >Approved</span><span ng-hide=data.cb1>Decline</span></md-switch></div>
				<div class="black-text" flex="30" ng-hide="display">Approved</div>
			</div>
		</div>
		<md-divider ng-if="!$last"></md-divider>
		
		<div flex-container="column" >
			<div flex-container="row">
				<div flex="40"> 
					<div class="fs-title" ng-show="display"> Joseph</div>
					<div class="fs-subhead"> Reason : Requesting Leave For Casual Leave</div>
					<div class="black-text">From 19-08-15 to 21-08-15 (2 Days)</div>
				</div>
				<div flex="30"></div>
				<div class="black-text" flex="30" ng-show="display"><md-switch ng-model="data.cb1"  ng-init="data.cb1=false" aria-label="Switch 1"><span ng-show=data.cb1 >Approved</span><span ng-hide=data.cb1>Decline</span></md-switch></div>
				<div class="black-text" flex="30" ng-hide="display">Approved</div>
			</div>
		</div>
		<md-divider ng-if="!$last"></md-divider>
		
		<div flex-container="column" >
			<div flex-container="row">
				<div flex="40"> 
					<div class="fs-title" ng-show="display"> Joseph</div>
					<div class="fs-subhead"> Reason : Requesting Leave For Casual Leave</div>
					<div class="black-text">From 19-08-15 to 21-08-15 (2 Days)</div>
				</div>
				<div flex="30"></div>
				<div class="black-text" flex="30" ng-show="display"><md-switch ng-model="data.cb1"  ng-init="data.cb1=false" aria-label="Switch 1"><span ng-show=data.cb1 >Approved</span><span ng-hide=data.cb1>Decline</span></md-switch></div>
				<div class="black-text" flex="30" ng-hide="display">Approved</div>
			</div>
		</div>
		<md-divider ng-if="!$last"></md-divider>
		
		<div flex-container="column" >
			<div flex-container="row">
				<div flex="40"> 
					<div class="fs-title" ng-show="display"> Joseph</div>
					<div class="fs-subhead"> Reason : Requesting Leave For Casual Leave</div>
					<div class="black-text">From 19-08-15 to 21-08-15 (2 Days)</div>
				</div>
				<div flex="30"></div>
				<div class="black-text" flex="30" ng-show="display"><md-switch ng-model="data.cb1"  ng-init="data.cb1=false" aria-label="Switch 1"><span ng-show=data.cb1 >Approved</span><span ng-hide=data.cb1>Decline</span></md-switch></div>
				<div class="black-text" flex="30" ng-hide="display">Approved</div>
			</div>
		</div>
		<md-divider ng-if="!$last"></md-divider>
		
		<div flex-container="column" >
			<div flex-container="row">
				<div flex="40"> 
					<div class="fs-title" ng-show="display"> Joseph</div>
					<div class="fs-subhead"> Reason : Requesting Leave For Casual Leave</div>
					<div class="black-text">From 19-08-15 to 21-08-15 (2 Days)</div>
				</div>
				<div flex="30"></div>
				<div class="black-text" flex="30" ng-show="display"><md-switch ng-model="data.cb1"  ng-init="data.cb1=false" aria-label="Switch 1"><span ng-show=data.cb1 >Approved</span><span ng-hide=data.cb1>Decline</span></md-switch></div>
				<div class="black-text" flex="30" ng-hide="display">Approved</div>
			</div>
		</div>
		<md-divider ng-if="!$last"></md-divider>
		
		<div flex-container="column" >
			<div flex-container="row">
				<div flex="40"> 
					<div class="fs-title" ng-show="display"> Joseph</div>
					<div class="fs-subhead"> Reason : Requesting Leave For Casual Leave</div>
					<div class="black-text">From 19-08-15 to 21-08-15 (2 Days)</div>
				</div>
				<div flex="30"></div>
				<div class="black-text" flex="30" ng-show="display"><md-switch ng-model="data.cb1"  ng-init="data.cb1=false" aria-label="Switch 1"><span ng-show=data.cb1 >Approved</span><span ng-hide=data.cb1>Decline</span></md-switch></div>
				<div class="black-text" flex="30" ng-hide="display">Approved</div>
			</div>
		</div>
		<md-divider ng-if="!$last"></md-divider>
		
		<div flex-container="column" >
			<div flex-container="row">
				<div flex="40"> 
					<div class="fs-title" ng-show="display"> Vignesh</div>
					<div class="fs-subhead">Reason : Sick Leave</div>
					<div class="black-text">Date : 19-08-15</div>
				</div>
				<div flex="30"></div>
				<div class="black-text" flex="30" ng-show="display"><md-switch ng-model="data.cb1"  ng-init="data.cb1=false" aria-label="Switch 1"><span ng-show=data.cb1 >Approved</span><span ng-hide=data.cb1>Decline</span></md-switch></div>
				<div class="black-text" flex="30" ng-hide="display">Approved</div>
			</div>
		</div>
		</div>
        </md-content>