<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>school-management</display-name>
  	<servlet>
    <servlet-name>restview</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
  	</servlet>
  	<servlet-mapping>
	    <servlet-name>restview</servlet-name>
	    <url-pattern>/api/*</url-pattern>
  	</servlet-mapping>
  	<servlet>
    <servlet-name>rest</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
  	</servlet>
  	<servlet-mapping>
	    <servlet-name>rest</servlet-name>
	    <url-pattern>/services/*</url-pattern>
  	</servlet-mapping>
  	
  	<welcome-file-list>
    	<welcome-file>/index.html</welcome-file>
  	</welcome-file-list>
  	<session-config>
   		<session-timeout>300</session-timeout>
  	</session-config>
  	<context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>
			/WEB-INF/restview-servlet.xml,
			/WEB-INF/rest-servlet.xml
		</param-value>
  	</context-param>
  	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>
  	<listener>
    	<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  	</listener>
	<filter>
	<filter-name>statelessSessionFilter</filter-name>
    	<filter-class>com.ctlok.web.session.StatelessSessionFilter</filter-class>
    <init-param>
    	<param-name>HMAC_SHA1_KEY</param-name>
      	<param-value>aDg3uE6t8X57bnFwcqRql8tvd</param-value>
    </init-param>
    <init-param>
      	<param-name>ENCRYPTION_SECRET_KEY</param-name>
      	<param-value>abcdefghijklmnop</param-value>
    </init-param>
    <init-param>
      	<param-name>ENCRYPTION_IMPL_CLASS</param-name>
      	<param-value>com.ctlok.web.session.crypto.AesEncryptor</param-value>
    </init-param>
  	</filter>
  	<filter-mapping>
	    <filter-name>statelessSessionFilter</filter-name>
	    <url-pattern>/*</url-pattern>
  	</filter-mapping>
</web-app>